.col2{
    padding: 0 6px; /* Поля по вертикали и горизонтали */
    float: left; /* Обтекание слоев */
}
.col1{
    width: min-content; /* Ширина колонок */
    padding: 0 6px; /* Поля по вертикали и горизонтали */
    float: left; /* Обтекание слоев */
    border-right: 1px solid #000; /* Параметры линии справа от текста */
}
.container:after, .row:after {
    content: "";
    display: table;
    clear: both;
}

.task{
    padding: 5px;
    margin: 5px;
    border: 2px black solid;
}
.row {
    margin-bottom: 15px;
}

.task{
    display: inline-block;
    vertical-align: top;
}
.header{
    width: 100%;
    border-bottom: 1px solid #000000;
}
h1{
    color:#0000FF;
}

h2{
    color:#FF0000;
}

footer{
    margin-top:60px;
}