<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  lang="">
<head>
  <title>Добавить укладку</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="container">

  <div class="starter-template">
    <h2>Новая укладка</h2>
    <form th:action="@{/addTask}" method="post" th:object="${task}">
      <label>Дата укладки: <input id="date" required type="date" th:field="*{date}"/></label><br>
      <label>№ ведомости: <input id="order" required type="text" th:field="*{orderNum}"/></label><br>
      <label>Адрес: <input id="adress" required type="text" th:field="*{adress}"/></label><br>
      <label>Телефон: <input id="phone" required type="tel" th:field="*{phone}"/></label><br>
      <label for="master">Мастер</label>
      <select id="master" required th:field="*{master}"><br>
        <option  value="" selected="selected">Выберите мастера</option>
        <option th:each="master : ${masters}"
                th:value="${master.id}"
                th:text="${master.name}">
        </option>
      </select><br>
      <input type="submit" value="Создать укладку">
    </form>
  </div>

</div>

</body>
</html>