<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="java">
<head>

    <title>Главная</title>
    <link rel="stylesheet" type="text/css" th:href="style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">

    <div class="starter-template">
        <form th:action="@{/main}" th:object="${filter}" method="post">
        <div class="filter">
            <div class="date">
                <label>
                    <input th:type="date" th:field="*{startDay}">
                </label> - <label>
                <input th:type="date" th:field="*{finishDay}">
            </label>
            </div>
            <div class="masterFilter">
                <label>
                    <select th:field="*{master}">
                        <option value=""> Выберите мастера </option>
                        <option th:each="master1 : ${masters}"
                                th:value="${master1.id}"
                                th:utext="${master1.name}"></option>
                    </select>
                </label>
            </div>
            <input type="submit" value="Применить">
        </div>
        </form>
        <div class="mainContainer">
            <div class="row">
                <div class="col1">Дата</div>
                <div class="col2">Работа<br/></div>
            </div>
            <div class="body">
                <th:block th:each="task : ${schedule}">
                    <div class="row">
                        <div class="col1"><label th:text="${#temporals.dayOfWeekNameShort(task.getKey())}"></label><br><label th:text="${#temporals.format(task.getKey(), 'dd.MM')}"></label> </div>
                        <div class="col2">
                            <a th:href="@{addTask/{date}(date=${task.getKey()})}">Добавить укладку<br/></a>
                            <div th:switch="${task.getValue()}">
                                <h2 th:case="null">Свободно!</h2>
                                <div th:case="*">
                                    <div class="task">
                                        <label>Мастер<br>
                                            Номер продажи<br>
                                            Адрес<br>
                                            Телефон<br>
                                            Количество
                                        </label>
                                    </div>

                                    <th:block th:each="curTask : ${task.getValue()}">
                                        <div class="task">
                                            <label th:text="${curTask.master}"></label><br>
                                            <label><a th:href="@{edit/{id}(id=${curTask.getId()})}"><span th:text="${curTask.orderNum}"></span></a> </label><br>
                                            <label th:text="${curTask.adress}"></label><br>
                                            <a th:href="'tel:'+${curTask.getPhone()}"><label th:text="${curTask.phone}"></label></a><br>
                                        <label>
                                            <th:block th:each="job : ${curTask.jobs}">
                                                <span th:text="${job}"></span><br>
                                            </th:block>
                                        </label>
                                        </div>
                                    </th:block>

                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>